<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="add(5)">Add 5</button>
      <button v-on:click="remove(5)">Remove 5</button>
      <p>Result: {{ counter }}</p>
      <p>Computed Result: {{ counteritem }}</p>
      <!-- <input type="text"  v-on:input="setName($event,'Md.')" v-on:keyup.enter="confirmname" /> -->
      <input type="text" v-model="name" placeholder="Fname" v-on:keyup.enter="confirmname" /> &nbsp;
      <input type="text" v-model="lname" placeholder="Lname" v-on:keyup.enter="confirmname"/>
      <button v-on:click="resetInput">Reset Input</button>
      <p>First Name : {{name}}  Last Name : {{lname}} </p>
      <p>Call Function Full  Name : {{fullname()}} </p>
      <p>Call Computed Full  Name : {{fname}} </p>
      <p>Call watch Full  Name : {{full_name}} </p>
      <p>Confirm  Name : {{cname}} </p>
      <form v-on:submit.prevent="submitform">
        <input type="text">
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>
